@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RestaurantRate Application!</h1>
	<p>Click on <em>RestaurantRate</em> in the top left corner to start rating!</p>
</div>
